<h1 class="text-center">All articles</h1>

  <%@articles.each do |article|%>
    <div class="container">
    <div class="card text-center">
      <div class="card-header">
        <%= article.title %>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= article.description %></h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
      <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>
    </div>
  <%end%>

<%= link_to 'Create new article', new_article_path %> | 
<%= link_to 'Home', root_path %>
