<div id="page-content">
  <h2 class="text-center mt-4">Listing of all articles:</h2>
    <div class="container">
      <%@articles.each do |article|%>
        <div class="row justify-content-md-center mt-4">
          <div class="col-8">
            <div class="card text-center shadow mb-5 bg-white rounded">
              <div class="card-header font-italic">
                by Ivan Chornobai
              </div>
              <div class="card-body">
                  <h5 class="card-title"><%= link_to article.title, article_path(article), class:"text-success" %></h5>
                  <p class="card-text"><%= truncate(article.description, length: 150) %></p>
                  <a href="#" class="btn btn-outline-success">Open</a>
                  <a href="#" class="btn btn-outline-primary">Edit</a>
                  <a href="#" class="btn btn-outline-danger">Delete</a>
              </div>
              <div class="card-footer text-muted">
                Created <%= article.created_at %> ago, updated <%= article.updated_at %>  ago
              </div>
            </div>
          </div>
        </div> 
      <%end%>
  </div>
</div>
