<h1>Create new Article</h1>

<%if @article.errors.any?%>
  <h2>Artile was not created because of following issues:</h2>
  <%= render 'list_of_errors' %>
<%end%>
<%= render 'form' %>
<%= link_to 'Go to articles listing', articles_path %> | 
<%= link_to 'Home', root_path %>
